<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Consulta de Productos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/consulta.css' %}">
</head>
<body>

    <div class="container">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Cerrar Sesión</button>
        </form>
        <h1>Lista de Productos</h1>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Marca</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.categoria }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </ul>
    <div class="link">

    <a href="{% url 'inicio' %}">Volver a la página principal</a>

    </div>
    
</body>
</html>
