<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-logout">Cerrar Sesión</button>
        </form>
        <h1>Bienvenido a Gestión de Productos S.A.</h1>
        <p>Selecciona una opción:</p>
        <div class="link">
            <a href="{% url 'registro_producto' %}">Registrar Productos</a>
            <a href="{% url 'filtrar_producto' %}">Filtrar Productos</a>
            <a href="{% url 'listar_producto' %}">Listar Productos</a>
        </div>
        
    </div>

</body>

</html>
