<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Consulta de Productos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Productos Registrados</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.codigo }} - {{ producto.nombre }} - {{ producto.marca }} - {{ producto.fecha_vencimiento }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'inicio' %}">Volver a la página principal</a>
</body>
</html>
