<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
</head>
<body>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Cerrar Sesión</button>
    </form>
    <div class="container">
        <h1>Bienvenido a Gestión de Productos S.A.</h1>
        <p>Selecciona una opción:</p>
        <div class="link">
            <a href="{% url 'registro_producto' %}">Registrar un Producto</a>
            <a href="{% url 'consulta_productos' %}">Consultar Productos</a>
        </div>
        
    </div>

</body>

</html>
