<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Registro de Producto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registro.css' %}">
</head>
<body>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Cerrar Sesión</button>
    </form>
    <div class="form-container">
         <h1>Registrar Producto</h1>
    <div class="post">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Registrar</button>
        </form>
        <div>
            {% for error in form.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>

        <div class="link">
            <a href="{% url 'inicio' %}">Volver a la página principal</a>
            <a href="{% url 'consulta_productos' %}">Consultar Productos</a>

        </div>
        
    </div>
    </div>
  
</body>
</html>



