<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Producto Registrado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/resultado.css' %}">
</head>
<body>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn-logout">Cerrar Sesión</button>
    </form>
    <div class="container">
        <h1>Producto Registrado Exitosamente</h1>
        <p>Código: {{ producto.codigo }}</p>
        <p>Nombre: {{ producto.nombre }}</p>
        <p>Marca: {{ producto.marca }}</p>
        <p>Precio: {{ producto.precio }}</p>
        <p>Categoria: {{ producto.categoria }}</p>
        <a href="{% url 'inicio' %}">Volver a la página principal</a>
    </div>
</body>
</html>
