<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Consulta de Productos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/consulta.css' %}">
</head>
<body>
    <div class="container">
        <h1>Productos Registrados</h1>
        {% for producto in productos %}
            <li>{{ producto.codigo }} - 
            {{ producto.nombre }} - 
            {{ producto.marca }} - 
            {{ producto.categoria }} - 
            {{ producto.precio }}
            </li>
        {% endfor %}
    </ul>


    <div class="link">
    <a href="{% url 'inicio' %}">Volver a la página principal</a>
    <a href="{% url 'registro_producto' %}">Registrar un Producto</a>

    </div>
    
</body>
</html>
